*.o
*.exe
*.dll
*.a
*.lib
*.obj

.cache/
bin/
obj/
build/*/

# Generated detour files
hdr/detours_prebuild.h
rsrc/detours_prebuild.md
rsrc/detours_prebuild.txt

# Generated version header
hdr/version.h
src/features/internal_menus/menu_data.cpp

# SDK submodules (these are tracked by git)
# SDK/
# SDK/*/
.cursor/*.log
